@import "../../../styles/mixins";

.info {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 80px 16px 48px;
    text-align: center;

    @include desktop {
        text-align: initial;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__image {
        height: 192px;
        width: 100%;
        background-image: url("./hand.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include desktop {
            height: 367px;
            grid-row: 1 / 3;
            align-self: center;
        }
    }

    &__content {
        margin-top: 24px;

        @include desktop {
            margin-top: auto;
        }
    }

    &__button {
        align-self: flex-end;
        margin-top: auto;

        @include desktop {
            align-self: flex-start;
            margin-top: 64px;
        }
    }
}