@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: absolute;
    inset: 0;
    padding: 64px 0 32px 0;
    background-color: $black5;
    height: 100%;


    @include desktop {
        position: static;
        padding-top: 106px;
        background-color: $white;
    }

    &--closed {
        display: none;

        @include desktop {
            display: flex;
        }
    }

    &__item {
        margin-top: 8px;
    }
}