@import "../../../../styles/mixins";

.final-screen {
    &__total-score {
        font-size: 18px;
        font-weight: 600;
        line-height: 116%;
        opacity: 0.5;

        @include desktop {
            font-size: 32px;
        }
    }

    &__earned {
        @include desktop {
            font-size: 56px;
        }
    }
}