$shape: polygon(6.1% 7.389%,
        6.1% 7.389%,
        6.285% 6.181%,
        6.489% 5.081%,
        6.71% 4.092%,
        6.947% 3.22%,
        7.199% 2.469%,
        7.463% 1.845%,
        7.737% 1.35%,
        8.021% 0.992%,
        8.311% 0.773%,
        8.607% 0.699%,
        91.558% 0.699%,
        91.558% 0.699%,
        91.854% 0.773%,
        92.145% 0.992%,
        92.428% 1.35%,
        92.703% 1.845%,
        92.967% 2.469%,
        93.218% 3.22%,
        93.455% 4.092%,
        93.677% 5.081%,
        93.881% 6.181%,
        94.065% 7.389%,
        100% 50.35%,
        94.065% 93.31%,
        94.065% 93.31%,
        93.881% 94.518%,
        93.677% 95.619%,
        93.455% 96.607%,
        93.218% 97.479%,
        92.967% 98.23%,
        92.703% 98.855%,
        92.428% 99.349%,
        92.145% 99.707%,
        91.854% 99.926%,
        91.558% 100%,
        8.607% 100%,
        8.607% 100%,
        8.311% 99.926%,
        8.021% 99.707%,
        7.737% 99.349%,
        7.463% 98.855%,
        7.199% 98.23%,
        6.947% 97.479%,
        6.71% 96.607%,
        6.489% 95.619%,
        6.285% 94.518%,
        6.1% 93.31%,
        0.165% 50.35%,
        6.1% 7.389%);

.candy-shape {
    position: relative;

    &__line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: 100%;
        z-index: -1;
    }

    &__border {
        display: block;
        padding: 1px;
        width: 80%;
        margin: 0 auto;
        clip-path: $shape;
        text-align: left;
    }

    &__content {
        clip-path: $shape;
    }
}