@import "./styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import-normalize;

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

p,
h1,
body {
  margin: 0;
}

h1 {
  font-weight: 600;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  color: $black;
}

#root {
  height: 100%;
}